* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(73, 72, 72);
    font-family: "Poppins", sans-serif;
  }
  
  h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
  }
  .show-sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .show-sidebar .addsidbar {
    border: 5px solid rgb(250, 246, 246);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  
  .overlay .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(219, 213, 213);
    z-index: 9999;
  }
  
  .overlay .sidebar .closeSidbar {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 30px;
    height: 40px;
  }
  
  .show {
    display: block;
  }
  